<!-- Jumbotron -->
<div
  class="p-12 text-center relative overflow-hidden bg-no-repeat bg-cover rounded-xl shadow-md"
  style="background-image: url('img/vier-spiele-16-9.jpeg'); height: 400px"
>
  <div
    class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.6)"
  >
    <div class="flex justify-center items-center h-full p-2">
      <div class="text-white space-y-4">
        <h2 class="font-semibold text-4xl mb-4">Butzbach Spielt!</h2>
        <p class="">
          Gemeinsam spielen.<br />
          Menschen treffen.<br />
          Neue und alte Spiele kennenlernen.
        </p>
        <p class="">
          Wir spielen alles! <br />
          Brettspiel, Kartenspiele, Spiel des Jahres, Partyspiel, Kennerspiel,
          Expertenspiel oder auch den neusten Kickstarter!
        </p>
        <p class="">
          Butzbach spielt! veranstaltet Spieleabende, Spieltage und mehr.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->
