---
layout: base.html
title: Butzbach spielt
---

<div class="w-full mx-auto my-6 px-4 text-center space-y-8 text-slate-500">
  <img
    data-blink-src="img/butzbach-spielt-logo.png"
    alt="Butzbach spielt Logo"
    class="w-full"
  />

  {% include "jumbotron.html" %}

  <div class="justify-center space-y-4 mb-8 font-bold w-full">
    <h2 class="text-xl">Newsletter</h2>
    <p>Alle Termine, News und Infos bequem per Mail?</p>
    <button class="rounded-xl p-4 shadow-lg bg-slate-500 text-white">
      Hier anmelden!
    </button>
  </div>
  <div class="xl:space-y-0 space-y-8 gap-4 xl:grid xl:grid-cols-3 mb-4">
    {% for card in collections.cards %} {% include "partials/card.html" %} {%
    endfor %}
  </div>

  <div>
    {% for gallery in collections.galleries %} {% if gallery.data.title ==
    "start"%} {% include "partials/gallery.html" %} {% endif %} {% endfor %}
  </div>
</div>
