<div
  class="mx-auto bg-white rounded-xl overflow-hidden xl:w-full break-inside-avoid border-slate-300 border border-solid"
>
  <div class="md:flex xl:block">
    <div class="md:shrink-0 overflow-hidden">
      <img
        class="xl:h-64 xl:w-full h-64 lg:w-96 w-full {{'object-contain' if card.data.isLogo else 'object-cover'}} md:h-full md:w-48"
        data-blink-src="{{ card.data.image }}"
        alt="{{ card.data.imageAlt }}"
      />
    </div>

    <div class="p-4 mx-auto">
      <h2 class="uppercase tracking-wide text-slate-500 font-semibold text-2xl">
        {{ card.data.title }}
      </h2>

      <div
        class="space-y-2 prose prose-slate prose-headings:text-slate-500 prose-headings:text-semibold prose-headings:uppercase prose-headings:tracking-wide prose-ul:list-none prose-ul:pl-0 mx-auto"
      >
        {{ card.templateContent | safe}}
      </div>
    </div>
  </div>
</div>
