<div
      class="max-w-lg mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl"
    >
      <div class="md:flex">
        <div class="md:shrink-0">
          <img
            class="h-64 w-full object-cover md:h-full md:w-48"
            src="img/spieltisch-1.jpeg"
            alt="Tisch mit vier Spielern die ein Kartenspiel spielen"
          />
        </div>
        <div class="p-8">
          <h2
            class="uppercase tracking-wide text-indigo-500 font-semibold text-lg"
          >
            Aktuelle Termine
          </h2>

          <div class="space-y-2">
            {{ cardContent | safe }}
          </div>
        </div>
      </div>
    </div>